*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a,
button {
  cursor: pointer;
}

.btn{
  padding: .8rem;
  font-size: 1rem;
  font-weight: 700;
  align-self: center;
  margin: 5px;
  border-radius: 5px;
}
.btn-success{
  background-color: green;
  color: white ;
}
.btn-success:hover{
  background-color: darkgreen;
  color: white ;
}
.btn-info{
  background-color: blue;
  color: white ;
}
.btn-info:hover{
  background-color: darkblue;
  color: white ;
}